@font-face {
    font-family: 'DIN Next Shadow';
    src: url('DINNextShadow-Heavy.woff2') format('woff2'),
        url('DINNextShadow-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

